<a href="https://colab.research.google.com/github/kq49539/DATA690-ATMAN/blob/main/assignment_03/session3_in_class.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## session 3 in classs practice
- Atman Patel
- September 16

##1. List Comphrehension

In [ ]:
# This is traditional way of using for loop
x = [2, 5, -7, 10, 12]

y =[]  # []bracket indicates list

for i in x:
  new_number = i + 10
  print(new_number)
  y.append(new_number)

print(y)

12
15
3
20
22
[12, 15, 3, 20, 22]

In [ ]:
# A new way of using List Comprehension

y = [i + 10 for i in x]

print(y)

[12, 15, 3, 20, 22]

##2. User-defined Function

In [ ]:
## Addition function

def addition(a, b):
  return a + b

In [ ]:
y = addition(5, 10)
print(y)

15

In [ ]:
## division function

def division(a,b):
 return a/b

In [ ]:
y = division(101,2)
print(y)

50.5

##3. Data Wrangling

In [2]:
  123456    ## ctrl + }  it will shift 4 spaces to right

123456

In [5]:
header_string = """
  age: continuous.
  workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
  fnlwgt: continuous.
  education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
  education-num: continuous.
  marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
  occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
  relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
  race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
  sex: Female, Male.
  capital-gain: continuous.
  capital-loss: continuous.
  hours-per-week: continuous.
  native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.
"""

type(header_string)

str

In [6]:
len(header_string)

1402

In [7]:
print(header_string)

  age: continuous.
  workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
  fnlwgt: continuous.
  education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
  education-num: continuous.
  marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
  occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
  relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
  race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
  sex: Female, Male.
  capital-gain: continuous.
  capital-loss: continuous.
  hours-per-week: continuous.
  native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.

In [10]:
header_list = header_string.split("\n")
print(header_list)

['', '  age: continuous.', '  workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.', '  fnlwgt: continuous.', '  education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.', '  education-num: continuous.', '  marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.', '  occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.', '  relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.', '  race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.', '  sex: Female, Male.', '  capital-gain: continuous.', '  capital-loss: continuous.', '  hours-per-week: continuous.', '  native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.', '']

In [11]:
len(header_list)

16

In [15]:
header_list[0]

''

In [16]:
header_list[4]

'  education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.'

In [17]:
header_list[15]

''

In [20]:
header_list2 = header_list[1:15]
header_list2

['  age: continuous.',
 '  workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.',
 '  fnlwgt: continuous.',
 '  education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.',
 '  education-num: continuous.',
 '  marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.',
 '  occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.',
 '  relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.',
 '  race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.',
 '  sex: Female, Male.',
 '  capital-gain: continuous.',
 '  capital-loss: continuous.',
 '  hours-per-week: continuous.',
 '  native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.']

In [24]:
header_list3 = []

for item in header_list2:
  header_info = item.split(":")
  print(header_info[0])
  header_list3.append(header_info[0])

print(header_list3)

  age
  workclass
  fnlwgt
  education
  education-num
  marital-status
  occupation
  relationship
  race
  sex
  capital-gain
  capital-loss
  hours-per-week
  native-country
['  age', '  workclass', '  fnlwgt', '  education', '  education-num', '  marital-status', '  occupation', '  relationship', '  race', '  sex', '  capital-gain', '  capital-loss', '  hours-per-week', '  native-country']