<a href="https://colab.research.google.com/github/kq49539/DATA690-ATMAN/blob/main/assignment_04/assignment_04_PartA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##1. Write code to open the text file census_costs.txt and read all lines into a list named "line_list". Print line_list.

In [56]:
with open("/content/census_cost.txt","r") as f:
    line_list = f.readlines()

print(line_list)

['Census Year\tTotal Population\tCensus Cost\tAverage Cost Per Person\n', '1790\t3,929,214\t$44,377\t1.13 cents\n', '1800\t5,308,483\t$66,109\t1.24 cents\n', '1810\t7,239,881\t$178,445\t2.46 cents\n', '1820\t9,633,822\t$208,526\t2.16 cents\n', '1830\t12,866,020\t$378,545\t2.94 cents\n', '1840\t17,069,458\t$833,371\t4.88 cents\n', '1850\t23,191,876\t$1,423,351\t6.14 cents\n', '1860\t31,443,321\t$1,969,377\t6.26 cents\n', '1870\t38,558,371\t$3,421,198\t8.87 cents\n', '1880\t50,155,783\t$5,790,678\t11.54 cents\n', '1890\t62,979,766\t$11,547,127\t18.33 cents\n', '1900\t76,303,387\t$11,854,000\t15.54 cents\n', '1910\t91,972,266\t$15,968,000\t17.07 cents\n', '1920\t105,710,620\t$25,117,000\t23.76 cents\n', '1930\t122,775,046\t$40,156,000\t32.71 cents\n', '1940\t131,669,275\t$67,527,000\t51.29 cents\n', '1950\t151,325,798\t$91,462,000\t60.44 cents\n', '1960\t179,323,175\t$127,934,000\t71.34 cents\n', '1970\t203,302,031\t$247,653,000\t$1.22\n', '1980\t226,542,199\t$1,078,488,000\t$4.76\n', '1990\t248,718,301\t$2,492,830,000\t$10.02\n', '2000\t281,421,906\t$4.5 Billion\t$15.99\n', '2010*\t308,745,538\t$13 Billion\t$42.11']

In [57]:
len(line_list)

24

##2. Extract the first two lines and put them in a different list named "top2_list". You will need to use them later. Print the top2_list.

In [58]:
top2_list=[]
top2_list.append(line_list[0])
top2_list.append(line_list[1])
print(top2_list)

['Census Year\tTotal Population\tCensus Cost\tAverage Cost Per Person\n', '1790\t3,929,214\t$44,377\t1.13 cents\n']

##3. Put the rest of the lines (containing useful data elements) in a new list named "data_list". Print data_list.

In [61]:
data_list=[]
for i in range(2,24):
    data_list.append(line_list[i])

print(data_list,"/n")

['1800\t5,308,483\t$66,109\t1.24 cents\n', '1810\t7,239,881\t$178,445\t2.46 cents\n', '1820\t9,633,822\t$208,526\t2.16 cents\n', '1830\t12,866,020\t$378,545\t2.94 cents\n', '1840\t17,069,458\t$833,371\t4.88 cents\n', '1850\t23,191,876\t$1,423,351\t6.14 cents\n', '1860\t31,443,321\t$1,969,377\t6.26 cents\n', '1870\t38,558,371\t$3,421,198\t8.87 cents\n', '1880\t50,155,783\t$5,790,678\t11.54 cents\n', '1890\t62,979,766\t$11,547,127\t18.33 cents\n', '1900\t76,303,387\t$11,854,000\t15.54 cents\n', '1910\t91,972,266\t$15,968,000\t17.07 cents\n', '1920\t105,710,620\t$25,117,000\t23.76 cents\n', '1930\t122,775,046\t$40,156,000\t32.71 cents\n', '1940\t131,669,275\t$67,527,000\t51.29 cents\n', '1950\t151,325,798\t$91,462,000\t60.44 cents\n', '1960\t179,323,175\t$127,934,000\t71.34 cents\n', '1970\t203,302,031\t$247,653,000\t$1.22\n', '1980\t226,542,199\t$1,078,488,000\t$4.76\n', '1990\t248,718,301\t$2,492,830,000\t$10.02\n', '2000\t281,421,906\t$4.5 Billion\t$15.99\n', '2010*\t308,745,538\t$13 Billion\t$42.11'] /n

##4. Extract the column "Census Year" from data_list and assign them to a list named year_list. Remove the "" from the last element "2010". Print the cleansed year_list.

In [102]:
year_list = []

for i in data_list:
    col = i.split("\t")
    year_list.append((col[0]).replace("*",''))
    print(year_list)

['1800']
['1800', '1810']
['1800', '1810', '1820']
['1800', '1810', '1820', '1830']
['1800', '1810', '1820', '1830', '1840']
['1800', '1810', '1820', '1830', '1840', '1850']
['1800', '1810', '1820', '1830', '1840', '1850', '1860']
['1800', '1810', '1820', '1830', '1840', '1850', '1860', '1870']
['1800', '1810', '1820', '1830', '1840', '1850', '1860', '1870', '1880']
['1800', '1810', '1820', '1830', '1840', '1850', '1860', '1870', '1880', '1890']
['1800', '1810', '1820', '1830', '1840', '1850', '1860', '1870', '1880', '1890', '1900']
['1800', '1810', '1820', '1830', '1840', '1850', '1860', '1870', '1880', '1890', '1900', '1910']
['1800', '1810', '1820', '1830', '1840', '1850', '1860', '1870', '1880', '1890', '1900', '1910', '1920']
['1800', '1810', '1820', '1830', '1840', '1850', '1860', '1870', '1880', '1890', '1900', '1910', '1920', '1930']
['1800', '1810', '1820', '1830', '1840', '1850', '1860', '1870', '1880', '1890', '1900', '1910', '1920', '1930', '1940']
['1800', '1810', '1820', '1830', '1840', '1850', '1860', '1870', '1880', '1890', '1900', '1910', '1920', '1930', '1940', '1950']
['1800', '1810', '1820', '1830', '1840', '1850', '1860', '1870', '1880', '1890', '1900', '1910', '1920', '1930', '1940', '1950', '1960']
['1800', '1810', '1820', '1830', '1840', '1850', '1860', '1870', '1880', '1890', '1900', '1910', '1920', '1930', '1940', '1950', '1960', '1970']
['1800', '1810', '1820', '1830', '1840', '1850', '1860', '1870', '1880', '1890', '1900', '1910', '1920', '1930', '1940', '1950', '1960', '1970', '1980']
['1800', '1810', '1820', '1830', '1840', '1850', '1860', '1870', '1880', '1890', '1900', '1910', '1920', '1930', '1940', '1950', '1960', '1970', '1980', '1990']
['1800', '1810', '1820', '1830', '1840', '1850', '1860', '1870', '1880', '1890', '1900', '1910', '1920', '1930', '1940', '1950', '1960', '1970', '1980', '1990', '2000']
['1800', '1810', '1820', '1830', '1840', '1850', '1860', '1870', '1880', '1890', '1900', '1910', '1920', '1930', '1940', '1950', '1960', '1970', '1980', '1990', '2000', '2010']

##3. Extract the "Total Population" column from the data_list and assign them to a list named "pop_list". Remove the "," from the numbers since Python doesn't recognize them. Print the cleansed "pop_list".

In [104]:
pop_list=[]

for i in data_list:
    col=i.split("\t")
    pop_list.append((col[1]).replace(",",""))
   
print(pop_list)

['5308483', '7239881', '9633822', '12866020', '17069458', '23191876', '31443321', '38558371', '50155783', '62979766', '76303387', '91972266', '105710620', '122775046', '131669275', '151325798', '179323175', '203302031', '226542199', '248718301', '281421906', '308745538']

##6. Extract the "Census Cost" column from the data_list and assign them to a list named "cost_list". Remove the ",", and "$", and "Billion". Make sure to add the "0"s to the numbers from which you removed "Billion". Print the cleansed cost_list.

In [105]:
cost_list=[]

for i in data_list:
  col=i.split("\t")
  cost_list.append((col[2]).replace("$","").replace(",","").replace("Billion","000000000"))
print(cost_list)

['66109', '178445', '208526', '378545', '833371', '1423351', '1969377', '3421198', '5790678', '11547127', '11854000', '15968000', '25117000', '40156000', '67527000', '91462000', '127934000', '247653000', '1078488000', '2492830000', '4.5 000000000', '13 000000000']

##7. Extract the "Average Cost per Person" column from the data_list and assign them to a list named "avg_list". Remove the "cents", and "$". Make sure to divide the numbers in cents by 100 so that all numbers are measured in dollar. Print the cleansed avg_list.

In [107]:
avg_list=[]

for i in data_list:
  col=i.split("\t")
  col[3]=col[3].replace("cents","").replace("$","").replace("\n","")
  avg_list.append(str(float(col[3])/100))

print(avg_list)

['0.0124', '0.0246', '0.0216', '0.0294', '0.048799999999999996', '0.061399999999999996', '0.0626', '0.08869999999999999', '0.11539999999999999', '0.1833', '0.15539999999999998', '0.1707', '0.2376', '0.3271', '0.5129', '0.6043999999999999', '0.7134', '0.012199999999999999', '0.047599999999999996', '0.1002', '0.15990000000000001', '0.4211']

##8. Coalesce the cleansed data and save them to a text file named "census_cost.csv". The new file should look similar to the original source file except that it is in comma-delimited format and the numbers have been cleansed. The top two lines from the original file should be retained in the new file.

In [112]:
final_list=[]
final_list.append(top2_list[0])
final_list.append(top2_list[1])
for i in range(0,22):
    x = year_list[i]+"  "+pop_list[i]+" "+cost_list[i]+"  "+str(avg_list[i])
    final_list.append(p)
print(final_list)

['Census Year\tTotal Population\tCensus Cost\tAverage Cost Per Person\n', '1790\t3,929,214\t$44,377\t1.13 cents\n', '2010  308745538 13 000000000  0.4211', '2010  308745538 13 000000000  0.4211', '2010  308745538 13 000000000  0.4211', '2010  308745538 13 000000000  0.4211', '2010  308745538 13 000000000  0.4211', '2010  308745538 13 000000000  0.4211', '2010  308745538 13 000000000  0.4211', '2010  308745538 13 000000000  0.4211', '2010  308745538 13 000000000  0.4211', '2010  308745538 13 000000000  0.4211', '2010  308745538 13 000000000  0.4211', '2010  308745538 13 000000000  0.4211', '2010  308745538 13 000000000  0.4211', '2010  308745538 13 000000000  0.4211', '2010  308745538 13 000000000  0.4211', '2010  308745538 13 000000000  0.4211', '2010  308745538 13 000000000  0.4211', '2010  308745538 13 000000000  0.4211', '2010  308745538 13 000000000  0.4211', '2010  308745538 13 000000000  0.4211', '2010  308745538 13 000000000  0.4211', '2010  308745538 13 000000000  0.4211']

##9. Write code to open the newly-created file "census_cost.csv", read all lines and display them

In [95]:
import csv
with open("census_cost.csv","w") as f:
  for x in final_list:
    f.write(x)

with open("/content/census_cost.csv", "r") as file:
    lines = file.readlines()
print(lines)

['Census Year\tTotal Population\tCensus Cost\tAverage Cost Per Person\n', '1790\t3,929,214\t$44,377\t1.13 cents\n', '2010  308745538 13 000000000  0.42112010  308745538 13 000000000  0.42112010  308745538 13 000000000  0.42112010  308745538 13 000000000  0.42112010  308745538 13 000000000  0.42112010  308745538 13 000000000  0.42112010  308745538 13 000000000  0.42112010  308745538 13 000000000  0.42112010  308745538 13 000000000  0.42112010  308745538 13 000000000  0.42112010  308745538 13 000000000  0.42112010  308745538 13 000000000  0.42112010  308745538 13 000000000  0.42112010  308745538 13 000000000  0.42112010  308745538 13 000000000  0.42112010  308745538 13 000000000  0.42112010  308745538 13 000000000  0.42112010  308745538 13 000000000  0.42112010  308745538 13 000000000  0.42112010  308745538 13 000000000  0.42112010  308745538 13 000000000  0.42112010  308745538 13 000000000  0.4211']