<a href="https://colab.research.google.com/github/kq49539/DATA690-ATMAN/blob/main/assignment_09/in_class_practice_09.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# In_class_parctice_09
- Name: Atman Patel
- Date: 28 Oct

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.graph_objects as go
import plotly.express as px

In [2]:
import math_function as mf

In [3]:
a = input("enter a number: ")

enter a number: 100

In [4]:
b = input("enter a number: ")

enter a number: 200

In [5]:
c = mf.addition(a,b)
print(c)

100200

In [6]:
d = mf.subtraction(int(a), int(b))
print(d)

-100

In [7]:
a = 23
b = 50

c = mf.addition(a, b)
print(c)

73